html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}
#piano {
	background-color: #000000;
	width: 992px;
	height: 290px;
	margin: 80px auto;
	padding: 90px 20px 0 20px;
	position: relative;
	border-radius: 10px;
}
.keys {
	background-color: #000000;
	width: 949px;
	height: 180px;
	padding-left: 2px;
	overflow: hidden;
}

.key {
	background-color: #FFFFFF;
	position: relative;
	width: 41px;
	height: 175px;
	margin: 2px;
	float: left;
	border-radius: 0 0 3px 3px;
}
.key:hover{
	background: rgb(255, 102, 178);
}
/* Style when the white button is pressed*/
.white_active{
		box-shadow: inset 3px -2px  0  #00000036;
		background: linear-gradient(45deg, rgba(255,255,255,.7), rgba(255,255,255,.5));
}
.key.black--key::after {
	background-color: #1d1e22;
	
	content: "";
	position: absolute;
	left: -18px;
	width: 32px;
	height: 100px;
	border-radius: 0 0 3px 3px;
}
.key.black--key:hover::after{
	background: linear-gradient(45deg, #4c4c4c, #A0A0A0);
}
/* Style when the black button is pressed  */
.black_active{
	box-shadow:inset 3px -5px 0 #2c2c2c;
}

@media (max-width: 768px) {
	#piano {
    width: 358px;
	}
	.keys {
	width: 318px;
	}
}
