/* Estilos para el piano digital */
.piano {
    display: flex;
    justify-content: center;
}

.tecla {
    width: 50px;
    height: 200px;
    background-color: #AEC8D7;
    border: 1px solid #000000;
    cursor: pointer;
}

.tecla.pressed {
    background-color: #D3D3D3;
}

/* Estilos para el barra de navegación */
.navbar {
    /* Estilos para el navbar */
}

/* Estilos para el pie de página */
.footer {
    /* Estilos para el footer */
}
